$space-top: 0px;

$brand:(
	main: #8b425f,
	dark: #3b3b3b,
	light: #f3f3f3
	
);

$font:(
	regular: "'Mukta Mahee', 'Times New Roman', serif",
	bold: "'Mukta Mahee', 'Helvetica Neue', Helvetica, Arial, sans-serif",
	
);

@mixin fontRegular(){
	font-family: 'Mukta Mahee', 'Times New Roman', serif !important;
	
	*:not(.fa){
		font-family: inherit !important;
		
	}
	
	
}

@mixin fontBold(){
	font-family: 'Mukta Mahee', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
	
	*:not(.fa){
		font-family: inherit !important;
		
	}
	
	
}

